<%- include('../../partials/header.ejs'); -%>

    <body>
        <%- include('../../partials/navbar.ejs'); -%>

            <div class="container">

                <div class="card mt-2">
                    <div class="card-header">
                        <h2>Novo Artigo</h2>
                    </div>
                    <div class="card-body">
                        <form action="/articles/save" method="post">
                            <input type="text" name="title" placeholder="Defina o título do artigo" class="form-control mb-4">
                            <textarea name="body" id="article" class="form-control mt-2" placeholder="Escreva o artigo aqui"></textarea>
                            <label for="category" class="mt-4">Categoria</label>
                            <select name="category" id="category" class="form-control">
                                <% categories.forEach((category) => { %>
                                    <option value="<%= category.id %>"><%= category.title %></option>
                                <% }) %>
                            </select>
                            <button class="btn-success btn mt-4" type="submit">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>
    <%- include('../../partials/footer.ejs'); -%>

    <script src="/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "#article",
            plugins: [
                'advlist',
                'autolink',
                'link',
                'image',
                'lists',
                'preview',
                'searchreplace',
                'wordcount',
                'fullscreen',
                'insertdatetime',
                'media',
                'save',
                'table',
                'emoticons',
            ],
            language: 'pt_BR'
        });
        setTimeout(() => {
            let tinyLogo = document.getElementsByClassName("tox-statusbar__branding")
            tinyLogo.item(0).style.display = 'none'
        }, 150)
    </script>