<div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% if(isNaN(result.page) || result.page == 1 ){ %>
                        <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                        <li class="page-item active"><a class="page-link" href="/articles/page/1">1</a></li>
                        <% if(!result.is_last_page) { %>
                            <li class="page-item"><a class="page-link" href="/articles/page/2">2</a></li>
                            <% if(articles.count > 8) { %>
                                <li class="page-item"><a class="page-link" href="/articles/page/3">3</a></li>
                            <% } %>
                        <% } %>
                        <%}else{%>
                            <li class="page-item"><a class="page-link" href="/articles/page/<%= result.page - 1 %>">Anterior</a></li>
                            <% if(result.page > 2) { %>
                                <li class="page-item"><a class="page-link" href="/articles/page/<%= result.page - 2 %>"><%= result.page - 2 %></a></li>
                            <% } %>
                                <li class="page-item"><a class="page-link" href="/articles/page/<%= result.page - 1 %>"><%= result.page - 1 %></a></li>
                                <li class="page-item active"><a class="page-link" href="/articles/page/<%= result.page %>"><%= result.page %></a></li>
                            <% if(result.is_last_page){ %>
                                <li class="page-item disabled"><a class="page-link" href="#">Próxima</a></li>
                            <%}else{%>
                                <li class="page-item"><a class="page-link" href="/articles/page/<%= result.page + 1 %>"><%= result.page + 1 %></a></li>
                                <li class="page-item "><a class="page-link" href="/articles/page/<%= result.page + 1 %>">Próxima</a></li>
                            <%}%>
                        <%}%>
                </ul>
            </nav>
        </div>
    </div>
</div>