<%- include('../../partials/header.ejs'); -%>

<body>
    <%- include('../../partials/navbar.ejs'); -%>
    <div class="container">
        <hr>
        <h3>Usuários</h3>
        <hr>
        <a href="/admin/users/new" class="btn btn-success">Cadastrar novo usuário</a>
        <div class="mt-2"> 
            <table class="table table-bordered rounded">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <th><%=user.id%></th>
                            <th><%=user.name%></th>
                            <th><%=user.email%></th>
                            <th><a href="#" class="btn-warning btn">Editar</a>
                                <form action="#" method="post" style="display: inline;" onsubmit="confirmDelete(event,this,'<%=user.title%>')">
                                    <input type="hidden" name="id" value="<%=user.id%>">
                                    <button type="submit" class="btn-danger btn">Deletar</button>
                                </form>
                            </th>
                        </tr>
                    <%})%>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs'); -%>

<script>
    function confirmDelete(event, form, user_title){
        event.preventDefault()
        var decision = confirm(`Você quer mesmo deletar a categoria ${user_title}?`)
        if(decision)
            form.submit()
    }
</script>